In [2]:
import pandas as pd
import numpy as np

In [58]:
df=pd.read_csv('libraries_and_museums.csv')
df2=pd.read_csv('cinemas_theatres_auditoriums.csv')
df3=pd.read_csv('music_and_bars.csv')
df5=pd.read_csv('culture_data_2019.csv')
df6=pd.read_csv('museum_expositions_2019.csv')
df7=pd.read_excel('attractions.xlsx')
df8=pd.read_excel('barcelona_attractions.xlsx')
df9=pd.read_csv('barcelona-attraction.csv')
df10=pd.read_csv('barcelona-poi.csv')

ParserError: Error tokenizing data. C error: Expected 9 fields in line 45, saw 12

In [57]:
df8.head()

,atraccion,barrio,distrito,1994,2000,2015,2018,2019,Comentarios
0,Basílica de la Sagrada Família,Sagrada Familia,Eixample,700000.0,1420087.0,4251140.0,4661770,4717796,NaN
1,Park Güell,la Salut,Gràcia,NaN,NaN,2761436.0,3136973,3154349,NaN
2,Poble Espanyol,el Poble-sec,Sants-Montjuïc,NaN,1478546.0,1221647.0,1234407,1239388,No esta en poble sec en realidad especificamente
3,La Pedrera,l'Antiga Esquerra de l'Eixample,Eixample,NaN,1386721.0,990112.0,934524,1080519,No esta claro en que barrio esta
4,La Casa Batlló,l'Antiga Esquerra de l'Eixample,Eixample,NaN,NaN,992126.0,1062863,1065222,NaN

In [12]:
df5['Categoria'].value_counts()

Dades de context                          11
Espais de concerts                         8
Sales de cinema i rodatges a la ciutat     8
Espais d'arts escèniques                   7
Museus i espais d'exposicions              7
Biblioteques de Barcelona                  6
Centres cívics                             6
Festivals                                  4
Llibres                                    4
Fàbriques de Creació                       3
Subvencions/Transferències de l'ICUB       3
Festes                                     3
Name: Categoria, dtype: int64

In [ ]:
from rdflib import Graph

In [ ]:
g = Graph()

In [ ]:
#g.parse("http://www.bcn.cat/tercerlloc/cultura.rdf", format='xml')
#print(len(g))
## prints 42

In [ ]:
type(g)

In [23]:
from rdflib import Graph

g = Graph()
g.parse("demo.nt", format="nt")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/santiagoborgnino/Documents/Proyecto Final BTS/Data Sets/demo.nt'

In [26]:
import xml.etree.ElementTree as et 

xtree = et.parse("pits_opendata.xml")
xroot = xtree.getroot()

In [28]:
for node in xroot:
    print(node)

<Element 'found' at 0x7fbaaeffae00>
<Element 'list_items' at 0x7fbaaefff4a0>

In [48]:
import pandas as pd 
import xml.etree.ElementTree as et 

xtree = et.parse("pits_opendata.xml")
xroot = xtree.getroot() 
xroot[1].attrib

{}

In [33]:
for x in xroot[0]:
    print(x.tag, x.attrib)

In [ ]:
df_cols = ["name", "email", "grade", "age"]
rows = []

for node in xroot: 
    s_name = node.attrib.get("")
    s_mail = node.find("email").text if node is not None else None
    s_grade = node.find("grade").text if node is not None else None
    s_age = node.find("age").text if node is not None else None
    
    rows.append({"name": s_name, "email": s_mail, 
                 "grade": s_grade, "age": s_age})

out_df = pd.DataFrame(rows, columns = df_cols)